<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm" style="padding-top:60px">


    <div class="hero">

        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
            <h2 class="paragraph-header">Somos os melhores em software para conciliação de cartões!</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    O Conciliador gerencia todas as rotinas administrativas, operacionais e financeiras referentes a conciliação de cartões. 
                </div>
            </div>
        </div>
       <!-- <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 hidden-xs hidden-sm">
            <img src="/content/img/demo/iphoneview.png" class="display-image" alt="" style="width: 410px;">
        </div> -->

       
    </div>


</div>


