@model IEnumerable<ConciliacaoModelo.model.adm.Conta>

@{
    ViewBag.Title = "Listar Contas";
    Layout = "~/Views/Shared/Genericas/_Consultas.cshtml";
    ViewBag.IconeTopo = "fa-comments";
    ViewBag.NomeDaJanela = "Contas cadastrados";
    ViewBag.TamanhoCadastro = "col-lg-6";
    ViewBag.Action = "CadastrarConta";
    ViewBag.Controller = "Conta";
}

<thead>
    <tr>
        <th>
            Login
        </th>
        
        <th> Opção </th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayTextFor(modelItem => item.DsLogin)
            </td>
            <td>
                @Html.ActionLink("Editar", "CadastrarConta", new { id = item.Id }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }
</tbody>
