<section class="col col-sm-12 col-md-4 col-lg-4">
    <label for="tp_forma_pagamento">Forma de pagamento</label>
    <div>
        <select class="form-control" id="tp_forma_pagamento" name="is_pago">
            <option value="-1">&nbsp;</option>
            <option value="0">Dinheiro</option>
            <option value="1">Cartão Crédito</option>
            <option value="3">Cartão Débito</option>
            <option value="4">Cheque</option>
            <option value="5">Plano de saúde</option>
        </select>
    </div>
</section>