@{
    ViewBag.Title = "Sem permissão";
}

<div id="content">
    <section id="widget-grid" class="">
        <article class="col-sm-12 col-md-12 col-lg-6 col-lg-offset-3">
            <div class="jarviswidget" id="wid-id-1"
                 data-widget-editbutton="false"
                 data-widget-fullscreenbutton="true"
                 data-widget-sortable="false"
                 data-widget-deletebutton="false"
                 data-widget-togglebutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-thumbs-o-up"></i> </span>
                    <h2>Aviso!</h2>
                </header>
                <div>
                    <div class="widget-body no-padding">
                        <div class="smart-form">

                            <fieldset>
                                <section class="col col-sm-12 col-md-12 col-lg-12">
                                    <div class="alert alert-danger alert-block">
                                        <h4 class="alert-heading">Sem permissão para acessar esta página!</h4>
                                    </div>
                                </section>
                            </fieldset>

                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>

<!-- END MAIN CONTENT -->
@section pagespecific {

}